footer {


  .#{&}_top {
    @include container;
    background-color: $bgcFooterTop;
    color: $cFooterTop;
    height: $hFooterTop;

    .container {
      @include flex(flex-start, flex-start);
      padding: 20px;

      & > div.footer_list:not(:first-child) {
        margin-left: 150px;
      }
    }//container

    .footer_list {

      h3 {
        font-weight: 400;
        margin-bottom: 20px;
      }//h3

      ul li {
        @include pointer;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 14px;

        &:hover {
          color: black;
          text-decoration: underline;
        }//li:hover
      }//li

      ul.social_list {
        @include flex(space-between);
        padding-top: 10px;

        li {
          padding: 0px 10px;
          i {
            font-size: 20px;
          }//i
        }//li
      }//social list
    }//footer_list
  }//footer_top

  .#{&}_bottom {
    @include container;
    background-color: $bgcFooterBottom;
    color: $cFooterBottom;
    height: $hFooterBottom;

    .container {
      @include flex(space-between);

    }

    .certifications {

      ul {
        @include flex(space-around);
        padding-left: 20px;

        li {
          padding: 0px 20px;
          img {
            @include pointer;

          }//img

        }//li

      }//ul

    }//certifications


    .policy {
      @include flex (space-around);

      ul {
        @include flex(space-around);

        li {
          padding: $paddLiFooterBottom;

          a {
            color: $infoHeader;

            &:hover {
              color: white;
              text-decoration: underline;
            }//a:hover
          }//a
        }//li
      }//ul

      p {
        font-size: 12px;
        padding: $paddLiFooterBottom;
      }//p
    }//policy
  }//footer_bvottom
}
