#main {
  background-color: $bgcMain;
  @include flex (space-between);
  flex-direction: column;

  .main_top {
    @include container;
    color: $cMainTop;
    padding-top: 40px;
    padding-bottom: 60px;
    .container {
      @include flex (space-around);
      flex-direction: column;
    }//container

    h2 {
      font-size: 35px;
      font-weight: 400;
    }

    .packs {
      padding-top: 30px;
      width: 100%;
      @include flex (space-between);

      .pack {
        background-color: #ffffff;
        width: 380px;

        .img_pack {

          img {
            width: 380px;
          }//img
        }//img_pack

        .info_pack {
          padding: 20px;
           h3 {
             font-weight: 600;
             padding-bottom: 20px;

             span.new {
               color: #009cff;
               font-style: oblique;
               text-transform: uppercase;
             }//new
           }//h3

           p {
             padding-bottom: 20px;
           }//p

           .more {
              @include pointer;
              color: #009cff;
              &:hover {
                text-decoration: underline;
              }
            }//more
        }//info_pack
      }//pack
    }//packs

  }//main_top


  .main_bottom {
    @include container;

    .container {
      @include flex (flex-start);
      flex-wrap: wrap;
      .box_main {
        flex-basis: 50%;
        height: 320px;
        @include flex (center, flex-start);
        flex-direction: column;
        color: #ffffff;


        //FORMATTAZIONE BOX SCRITTE
        &:first-child,
        &:nth-child(4),
        &:nth-child(5) {
          padding: 40px;

          h2 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 30px;
          }//h2

          p {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 20px;
          }


        }

        //COLORE BACKGROUND BOX SCRITTE e colore testo bottone
        &:first-child {
          background-color: #3c1567;
          div.btn_white {
            color: #3c1567;
          }
        }//primo

        &:nth-child(4) {
          background-color: #3c3c3c;
          div.btn_white {
            color: #3c3c3c;
          }
        }//quarto

        &:nth-child(5) {
          background-color: #0072bc;
          div.btn_white {
            color: #0072bc;
          }
        }//quinto


        // FORMATTAZIONE BOX CON IMMAGINI
        &:nth-child(2) {
          @include bgPosition;
          background-image: url('../img/wacom-painter.jpg');
          img {
            width: 80%;
          }
        }//secondo

        &:nth-child(3),
        &:nth-child(6) {
          img {
            width: 100%;
            height: 100%;
          }
        }//terzo e segnaposto




      }//box_main


    }//container
  }//main_bottom
}
