//in questo modo, devo aggiungere solo include container dentro chi voglio
@mixin container {
  .container {
  width: $widthDesktop;
  margin: 0 auto;
  height: 100%;
  }
}
//in quest'altro modo nell'altro foglio dovrò inserire la classe .container e al suo interno fare l'includes
// @mixin container {
//   width: $widthDesktop;
//   margin: 0 auto;
//   background-color: green;
// }

//altro modo di creare i mixin, con dei parametri segnaposto che possono assumere dei valori di default, in questo caso se non lo specifico, align di default sarà center
@mixin flex($justify, $align:center) {
    display: flex;
    //in justify content e align items gli assegno variabili segnaposto, in maniera tale che prendano il valore che gli passo
    justify-content: $justify;
    align-items: $align;
}

//per aggiungere il pointer
@mixin pointer {
  cursor: pointer;
}

//per posizionare nello stesso modo ogni img di background
@mixin bgPosition {
  background-size: cover;
  background-repeat: no-repeat;
}

//qui creiamo un mixin che contiene le indicazioni che ci servono da dare ai bottoni, usiamo 4 variabili per gestire ciò che contraddistingue i diversi bottoni della pagina
@mixin btn ($bgColor, $padd, $fontSize, $color) {
  border: 0;
  display: inline-block;
  background-color: $bgColor;
  font-size: $fontSize;
  padding: $padd;
  color: $color;
  text-transform: uppercase;
}
