//WARNING COLORI

//header
$bgcHeader: black;
$cHeader: #eeeeee;
$iconHeader: #009cff;
$infoHeader: #8f8f93;

// WARNING LARGHEZZE

$widthDesktop: 1200px;


//WARNING ALTEZZE

//header
$hHeader: 100px;
$hHeaderTop: 45px;
$hHeaderBottom: calc(#{$hHeader} - #{$hHeaderTop});
$hLogo: 25px;

//WARNING PADDING E MARGINI

//header
$paddRightLiNavTop: 15px;
$marginRnavTop: 10px;

//header
