//WARNING COLORI

//header
$bgcHeader: black;
$cHeader: #eeeeee;
$iconHeader: #009cff;
$infoHeader: #8f8f93;
$cOffer: #c70cb9;








// WARNING LARGHEZZE

$widthDesktop: 1200px;















//WARNING ALTEZZE

//header
// $hHeader: 600px;
$hHeaderTop: 45px;
$hHeaderBottom: 55px;
$hHeaderJumbo: 500px;
$hLogo: 25px;










//WARNING PADDING E MARGINI

//header
$paddRightLiNavTop: 15px;
$marginRnavTop: 10px;

//header
