//WARNING COLORI

//header
$bgcHeader: black;
$cHeader: #eeeeee;

// WARNING LARGHEZZE

$widthDesktop: 1200px;


//WARNING ALTEZZE

//header
$hHeader: 100px;
$hHeaderTop: 45px;
$hHeaderBottom: calc(#{$hHeader} - #{$hHeaderTop});

//WARNING PADDING E MARGINI

//header
